<nav class="main-nav">
  <ul class="main-nav-items">
    <li class="main-nav-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="main-nav-item">
      <a routerLink="about">About</a>
    </li>
    <li *ngIf="!isLoggedIn" class="main-nav-item">
      <a (click)="open(content)">Login</a>
    </li>
    <li *ngIf="isLoggedIn" class="main-nav-item loggedin-user">
      {{ userName }} Logged In
    </li>
    <li *ngIf="isLoggedIn" class="main-nav-item">
      <a routerLink="gallery">Gallery</a>
    </li>
    <li *ngIf="isLoggedIn" class="main-nav-item">
      <a (click)="onLogoutClicked()">Logout</a>
    </li>
  </ul>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(addMountForm)" #addMountForm="ngForm">
      <div class="form-group">
        <div class="form-group">
          <label class="col-sm-2 control-label text-nowrap" for="userid">User id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ngModel id="userid" name="userid" placeholder="User id" />
          </div>
          <label class="col-sm-2 control-label text-nowrap" for="password">Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ngModel id="password" name="password" placeholder="Password" />
          </div>
          <div *ngIf="invalidUser" class="error-msg">
            User is not valid
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary button-wrapper">Sign In</button>
    </form>
  </div>
</ng-template>
