
.main-nav {
  display: inline-block;
  width: 100%;
  text-align: right;
  vertical-align: middle;
}

.main-nav-items {
  list-style: none;
  margin: 8px;
}

.main-nav-item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-nav-item a:hover {
  color: blue;
  border-bottom: 2px solid white;
}

.loggedin-user {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.error-msg {
  color: red;
}

.button-wrapper {
  margin-top: 10px;
}
