<div class="text-wrapper">
  An analyst in modern times needs data but we at cricLovers.com don’t just believe in data, we look for passion and emotion
  in that. We are a team of people who are not just good at analytics but also someone whose nightmares are missing
  flipping of coins. In fact in our team best employee of the month awards are lifted by people who missed analysing
  most matches at first go because of intense engagements at that moment. Join our team with your resume which can not
  have your name but should have the key goosebumps moment.
</div>
