.header-container {
  width: 100%;
  background: purple;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.body-container {
  margin-top: 48px;
}

.title {
  text-align: center;
  color: purple;
}

.footer-container {
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
}
