<div>
  <div class="text-wrapper">
    <p>
      We, as a team of passionate cricketers and qualified analysts built a platform that makes the analysis facile for
      everyone. With one click, anyone can upload data of any match and see the prediction in the dashboard. Our
      existing model has already analysed more than 15000 match data ranging from 1978 to 2020. We are committed to deliver key
      moments along with the key point.
    </p>
  </div>
  <h3>To dive into the pre-eminent moment of our key members, duck a little</h3>

  <div class="container">
    <h4>Sajjad : Front-end developer and State level cricket player</h4>
    <p class="text-wrapper">I still get goosebumps when I recall the moment of Ravi Shastri saying ‘Dhoni finishes off in style, India Lifts the world cup after 28 years’ And to be frank who wouldn’t get it ?</p>

    <h4>Rahul : Tech Lead and a Great Keeper</h4>
    <p class="text-wrapper">India won the match at 19.6 but DK was clearly the winner for everyone biting nails at the 19th over itself.
    </p>

    <h4>Kiran : CEO and An All rounder</h4>
    <p class="text-wrapper">Yeah we didn’t win that match but to see Sir Jadeja striving so hard is still on top of my head, especially that Four and Six at 49.4 and 49.5 respectively</p>

    <h4>Anonymous</h4>
    <p class="text-wrapper">And Yeah! you might wonder how none of our teammates have not commented anything on Sachin
      or Kohli. Well we had hopes when they were on crease, almost every time, then how can we pick a moment or two ?</p>
  </div>
</div>
